<!DOCTYPE html>

<html>

<head>

 <title>Table layout</title>

 <link rel="stylesheet" href="css/style.css">
 <script  src="js/sellerview.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  
 <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
 <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>  
</head>

<body>


<div class="container">

<div class="table">
<form id="form" method="POST" class="form">
 &emsp;&emsp;&emsp;<table id="empTable" class="tableclass" >
   

    <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Type</th>
          <th>Price</th>
          <th></th>
          <th></th>
    </tr>

   
    <% if(result.length>0) { %>
        <% result.forEach(function(eachres){ %>
          
    <tr>
          <td><%= eachres.pname %></td>
          <td><%= eachres.pcategory %></td>
          <td><%= eachres.ptype %></td>
          <td><%= eachres.price %></td>
          <td><a onClick="editRow(this)" onmouseover="" style="color: blue;cursor: pointer;">Edit</a></td>
          <td><a onClick="deleteRow(this)" onmouseover="" style="color: blue;cursor: pointer;">Delete</a></td>
    </tr>
    
    <% }) %>
    <%  } else { %>
      <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
  </tr>
    <% } %>

    <p id="info"></p>
</table>
</form>
</div>

<div class="add">
  <form method="POST" action="/seller_add" class="addProduct" id="addProduct">
    <br><br>&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value="Add" id="addp" style="height:40px; width:100px; font-size: large;">
</form>
</div>

<div class="submit">
  <form method="POST" method="/confirm">
    <br><br>&emsp;&emsp;&emsp;&emsp;&emsp;<input type="button" value="Cofirm" id="confirm" onclick="confirmm(event)" style=" font-size: large; height:40px; width:100px">
</form>

<div class="submit">
  <form method="POST" action="/back">
    <br><br>&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value="Back" id="back" style=" font-size: large; height:40px; width:100px">
</form>
</div>

</div>
</body>

</html>