<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product</title>
    <!-- <link rel=stylesheet href="style.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
  
      <form action="/seller_add" method="POST">
        <input type="submit" value="ADD" id="buy">
      </form> 
      <input type="submit" value="VIEW" id="buy">
      <input type="submit" value="MODIDY" id="buy">
      <input type="submit" value="DELETE" id="buy">
       
  
   
</body>
</html>



















